@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  overflow-y: hidden;
}

@layer base{
  :root {
    --color-text-primary: #ffffff;
    --color-text-secondary: #DFE3FA;
    --color-text-pending: #FF8F00;
    --color-text-paid: #33D69F;
    --color-text-draft: #DFE3FA;
    --color-text-name: #373B53;
    --color-logo-bg: #9277FF;
    --color-navbar-bg: #1E2139;
    --color-data-bar-bg: #1E2139;
    --color-dropdown-bg: #252945;
    --color-body-bg: #141625;
    --color-black-bg: #0C0E16;
    --color-danger-bg: #EC5757;
    --color-orange-bg: #FF8F00;
    --color-green-bg: #33D69F;
    --color-draft-bg: #DFE3FA;
  }
  .theme-light {
    --color-text-primary: #0C0E16;
    --color-text-secondary: #888EB0;
    --color-text-pending: #FF8F00;
    --color-text-paid: #33D69F;
    --color-text-draft: #373B53;
    --color-text-name: #888EB0;
    --color-logo-bg: #9277FF;
    --color-navbar-bg: #1E2139;
    --color-invoice-input-bg: #FFFFFF;
    --color-data-bar-bg: #FFFFFF;
    --color-dropdown-bg: #FFFFFF;
    --color-body-bg: #F8F8FB;
    --color-black-bg: #373B53;
    --color-danger-bg: #EC5757;
    --color-color-orange: #16FF8F00;
    --color-color-green: #1633D69F;
    --color-color-draft: #16DFE3FA;
  }
  .theme-dark {
    --color-text-primary: #ffffff;
    --color-text-secondary: #DFE3FA;
    --color-text-pending: #FF8F00;
    --color-text-paid: #33D69F;
    --color-text-draft: #DFE3FA;
    --color-text-name: #FFFFFF;
    --color-logo-bg: #9277FF;
    --color-navbar-bg: #1E2139;
    --color-invoice-input-bg: #141625;
    --color-data-bar-bg: #1E2139;
    --color-dropdown-bg: #252945;
    --color-body-bg: #141625;
    --color-black-bg: #0C0E16;
    --color-danger-bg: #EC5757;
    --color-orange-bg: #26FF8F00;
    --color-green-bg: #2633D69F;
    --color-draft-bg: #26DFE3FA;
  }
}

.invoice-container::-webkit-scrollbar {
  width: 0.7em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #9277FF;
  outline: 1px solid slategrey;
}


.home-inner-container{
  width: calc(100vw - 7rem);
}
.home-center{
  width: 770px;
}
input{
  font-size: 13px;
  border: 1.5px solid #141625; 
}
input:focus{
  border: 1.5px solid #9277FF;
}
.pending-box{
  background-color: rgba(255,143,0,0.1);
}
.paid-box{
  background-color: rgb(51,214,159, 0.1);
}
.draft-box{
  background-color: rgb(223,227,250, 0.1  );
}

